{% for article in articles %}
    {% include 'article/_item.html.twig' with { article } %}
{% endfor %}

<div class="row">
    <div class="d-flex align-items-center justify-content-center">
        {{ knp_pagination_render(articles) }}
    </div>
</div>
