<div class="p-4 mb-3 rounded">
    <h4 class="fst-italic">Catégories</h4>
    <ol class="list-unstyled">
        <li>
            <a href="" class="text-decoration-none">Tutoriel C#</a>
        </li>
        <li>
            <a href="" class="text-decoration-none">Tutoriel Symfony</a>
        </li>
    </ol>
</div>
